:root[data-theme="light"] {
  --timeline-g-1: #501ace;
  --timeline-g-2: #4a90e2;
  --timeline-bg-g-1: rgba(39, 39, 41, 0.034);
  --timeline-bg-g-2: rgba(110, 108, 108, 0.301);
  --timeline-border-c: rgba(255, 255, 255, 0.1);
  --timeline-icon-c: rgb(66, 64, 64);
}

:root[data-theme="dark"] {
  --timeline-g-1: #501ace;
  --timeline-g-2: #8753ff;
  --timeline-bg-g-1: rgba(233, 228, 228, 0.014);
  --timeline-bg-g-2: rgba(80, 77, 77, 0.204);
  --timeline-border-c: rgba(255, 255, 255, 0.1);
  --timeline-icon-c: #f1f1f1;;
}

.careerWrapper {
    position: relative; /* Wichtig für absolute Positionierung der Sphere */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.career {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: var(--margin-rem);
    z-index: 1;
}

.career h2 {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 1;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--text-c);
}

.timelineContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.timeline {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  min-width: calc(100% - 3rem);
  height: 4px;
  background: linear-gradient(to right, var(--timeline-g-1), var(--timeline-g-2));
  border-radius: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.milestone {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.timelineDot {
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, var(--timeline-g-1), var(--timeline-g-2));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.timelineDate {
    position: absolute;
    white-space: nowrap;
    font-size: 0.85rem;
    font-family: 'Roboto Thin', sans-serif;
    color: var(--text-c-2);
}

.timelineDate.bottom {
    bottom: 8px /* über dem Dot */
}

.timelineDate.top {
    top: 8px; /* unter dem Dot */
}


.infoBox {
  position: absolute;
  bottom: 100%;
  transform: translateY(-20px);
  width: 200px;
  z-index: 3;
  padding: 6px 12px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    var(--timeline-bg-g-1),
    var(--timeline-bg-g-2)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1.5px solid var(--timeline-border-c);
}

.infoBox h3 {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 1;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    color: var(--text-c);
}

.infoBox p {
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: var(--text-c-2);
    margin-top: 3px;
    margin-bottom: 0px;
}

/* Optional: Wechselnd links/rechts oben */
.milestone:nth-child(even) .infoBox {
  bottom: auto;
  top: 100%;
  transform: translateY(20px);
}

.animatedCareerBorder {
  opacity: 1;
  transition: opacity .6s ease-out;
  position: absolute;
  pointer-events: none;
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  mask-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  inset: 0px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgba(0, 0, 0 ,0);
}

.careerBeam {
  position: absolute;
  offset-path: inset(4px round 20px);
  offset-rotate: auto;
  will-change: offset-distance;
  transform: translateZ(0px);
  width: 5rem;
  height: 10px;
  background: linear-gradient(45deg, transparent 0, var(--timeline-g-1) 50%, var(--timeline-g-2) 70%, transparent 100%);
  animation: rotateCareerBeam 6s linear infinite;
}

@keyframes rotateCareerBeam {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}