:root {
  --indicator-c: #f1f1f1;
}

.sectionIndicator {
  position: fixed;
  top: 50%;
  right: 3rem;
  width: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  z-index: 999;
  pointer-events: auto; /* nicht blockiert durch Overlay */
  align-items: center;
  transform: translateY(-50%);
}

.sectionIndicator .dot {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  rotate: 45deg;
  background-color: var(--indicator-c);
  transition: all 0.3s ease;
  opacity: 0.4;
}

.sectionIndicator .dot.active {
  width: 16px;
  height: 16px;
  opacity: 1;
}

@media (max-width: 640px) {
  .sectionIndicator {
    right: 1rem;
    gap: 12px;
  }

  .sectionIndicator .dot {
    width: 10px;
    height: 10px;
  }

  .sectionIndicator .dot.active {
    width: 12px;
    height: 12px;
  }
}
