.projectsWrapper {
    position: relative; /* Wichtig für absolute Positionierung der Sphere */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: var(--margin-rem);
    z-index: 1;
}

.projects h2 {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 1;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--text-c);
}

.projectsSlider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
}

.projectBtn {
    position: absolute;
    z-index: 1;
}

.right {
    align-self: flex-start;
}

.left {
    align-self: flex-end;
}

.project {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 100%;
    min-width: 33%;
    z-index: 0;
    padding: 12px 12px;
    border-radius: 20px;
    background: linear-gradient(
        to right,
        var(--skill-bg-g-1),
        var(--skill-bg-g-2)
    );
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1.5px solid var(--skill-border-c);
}

.project .projectImage {
    width: 95%;
    align-self: center;
    cursor: pointer;
}