html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: var(--bg-c);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin-rem: 12rem;

  --bg-c: #0f0f0f;
  --contour-color: #f1f1f1;
  --blob-1: rgba(139, 92, 246, 0.15);
  --blob-2: rgba(73, 26, 49, 0.102);
  --blob-3: rgba(41, 42, 43, 0.078);
}

@media (max-width: 960px) {
  :root {
    --margin-rem: 7rem;
  }
}

@media (max-width: 640px) {
  :root {
    --margin-rem: 3rem;
  }
}


@font-face {
  font-family: 'Roboto Condensed Thin';
  src: local('Roboto condensed Thin'), url(./assets/Roboto_Condensed-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: local('Roboto Medium'), url(./assets/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url(./assets/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Extra Light';
  src: local('Roboto Extra Light'), url(./assets/Roboto-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: local('Roboto Thin'), url(./assets/Roboto-Thin.ttf) format('truetype');
}

/* Make sure that the Background scales appropiate*/
html, body, #root, main, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar, main::-webkit-scrollbar, #app::-webkit-scrollbar {
  display: none;
}


.shader-overlay {
  position: fixed;
  inset: 0;
  z-index: -2;
  pointer-events: none;
  opacity: 10%;

  /* Mask: to let background fade out */
  mask-image: radial-gradient(
    circle, 
    rgba(0, 0, 0, 1) 50%,     /* Centre fully visible */
    rgba(0, 0, 0, 0) 98%      /* Let it fade out at 98% */
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  -webkit-mask-image: radial-gradient(
    circle, 
    rgba(0, 0, 0, 1) 50%, 
    rgba(0, 0, 0, 0) 98%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}

.gradient-blobs {
  position: fixed;
  inset: 0;
  z-index: -3;
  pointer-events: none;
  background: radial-gradient(circle at 20% 30%, var(--blob-1), transparent 50%),
              radial-gradient(circle at 80% 40%, var(--blob-2), transparent 50%),
              radial-gradient(circle at 50% 80%, var(--blob-3), transparent 50%);
  background-blend-mode: screen;
}
